---
import Layout from '../layouts/Page.astro';
import Container from '../components/Container.astro';

const seo = {
  title: 'Intersectionality Club | Page Not Found',
}

---

<Layout seo={seo} >
    <Container>
    <h1>404</h1>
    <p>Uh Oh! We couldn't find the page you were looking for</p>
    <a href="/">Return Home</a>
    </Container>
</Layout>